@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #FEFAF6;
    --secondary: #F6F5F2;
    --accent: #102C57;

    --fancy: "Aladin", system-ui;
    --normal: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--primary);
    font-family: var(--normal);
}

.wrapper {
    width: 100%;
    max-width: 1800px;
}

main {
    width: 100%;

    nav {
        position: sticky;
        top: 0;
        z-index: 1000;

        width: 100%;
        height: 60px;
        background-color: var(--secondary);
        padding: 1rem;

        display: flex;
        justify-content: center;

        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                font-size: clamp(2rem, 3vw, 2.5rem);
                font-family: var(--fancy)
            }

            .linksBtn {
                display: none;
            }

            .menu {
                button {
                    font-size: 1rem;
                    padding: .5rem;
                    background-color: var(--accent);
                    color: white;
                    border-radius: .2rem;
                    position: relative;
 
                    .ri-close-line {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        opacity: 0;
                    }
                }
            }
        }
    }

    #sidebar {
        position: fixed;
        top: 60px;
        width: 50%;
        min-width: 200px;
        right: 0;
        height: calc(100vh - 60px);
        background-color: var(--secondary);
        transition: all .8s ease;

        .linksBtn {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .links {
                p {
                    padding: 1rem;
                }

                p:hover {
                    background-color: #d3d3d3;
                }
            }

            .btn {
                padding: 1rem;
                button {
                    width: 100%;
                    padding: .5rem;
                    background-color: var(--accent);
                    color: white;
                    border-radius: .2rem;
                }
            }
        }
    }

    .hide {
        transform: translateX(100%);
    }

    #hero {
        width: 100%;
        height: calc(100vh - 60px);
        max-width: 1800px;
        margin-inline: auto;
        background-image: linear-gradient(#00000027, #00000037), url(assets/heroimg.avif);
        background-size: cover;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        color: white;

        h1 {
            font-size: clamp(2.5rem, 5vw, 4rem);
            line-height: 1;
            max-width: 800px;
            margin-bottom: 1rem;
        }

        .info {
            font-size: clamp(.9rem, 3vw, 1rem);
            max-width: 600px;
            margin-bottom: 1.5rem;
            padding-inline: 1rem;
        }

        button {
            font-size: 1.1rem;
            padding: .5rem 1rem;
            background-color: var(--accent);
            color: white;
            border-radius: 50px;
            border: none;
            outline: none;
        }
    }

    #bestsellers {
        width: 100%;
        max-width: 1800px;
        margin-inline: auto;

        background-color: var(--secondary);
        padding: 1rem;

        .card {
            width: 100%;
            margin-inline: auto;
            background-color: var(--primary);
            margin-bottom: 1rem;
            padding: 1rem;

            display: flex;
            flex-direction: column;
            gap: 1rem;

            .card-info {

                h2 {
                    font-size: clamp(2rem, 3vw, 3rem);
                    line-height: 1;
                    margin-bottom: .8rem;
                }

                p {
                    margin-bottom: 2rem;
                }

                button {
                    font-size: 1rem;
                    padding: .5rem 1rem;
                    background-color: var(--accent);
                    color: white;
                    border-radius: 50px;
                    border: none;
                    outline: none;
                }

            }

            .card-img {
                width: 100%;
                aspect-ratio: 1/1;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    #cta {
        width: 100%;
        height: 70vh;
        max-width: 1800px;
        margin-inline: auto;

        padding: 1rem;
        background-image: linear-gradient(#0000003b, #00000037), url(assets/ctaimg.avif);
        background-size: cover;
        background-position: bottom;
        color: white;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h2 {
            font-size: clamp(1.8rem,3vw,3rem);
            max-width: 800px;
            line-height: 1.2;
            margin-bottom: 1rem;
        }

        button {
            font-size: clamp(.8rem,3vw,1.1rem);
            padding: .5rem 1rem;
            background-color: var(--accent);
            color: white;
            border-radius: 50px;
            border: none;
            outline: none;
        }
    }

    footer {
        width: 100%;
        text-align: center;
        font-family: var(--fancy);
        padding: 1rem;
        font-size: 1.5rem;
    }
}

@media (min-width: 750px) {
    main {
        nav {
            .wrapper {
                .linksBtn {
                    flex: 1;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .links {
                        width: fit-content;
                        margin-inline: auto;
                        display: flex;
                        gap: 2rem;
                    }

                    button {
                        font-size: .9rem;
                        padding: .5rem 1rem;
                        background-color: var(--accent);
                        color: white;
                        border-radius: 50px;
                        border: none;
                        outline: none;
                    }
                }

                .menu {
                    display: none;
                }
            }
        }

        #sidebar {
            display: none;
        }

        #bestsellers {
            padding: 3rem;

            .card {
                flex-direction: row;
                align-items: center;

                .card-info,
                .card-img {
                    width: 50%;
                }
            }

            .card:nth-child(2) {
                flex-direction: row-reverse;
            }
        }
    }
}


@media (min-width: 1800px) {
    main {
        #hero {
            height: calc(70vh - 60px);
        }

        #cta {
            height: 40vh;
        }
    }
}